/* General Properties */
:root {
    --main-bg: #F8F6F1;
    --main-bg-dark: #121212; 
    --main-contrast: #412234; 
    --main-text: #61331a;
    --main-text-dark: #eeeeee;
    --main-titles: #567568; 

    --accent: #843b62;
    --accent2: #639182;
    --accent3: #567568; 
    --accent4: #28727b;
    --accent5: #14393E;

    --frame-color: var(--accent2);
     
    --navbar-bg-color: var(--main-contrast); 
    --navbar-text-color: #ffffff;
    --navbar-text-color-focus: #ffffff;
    --navbar-bg-contrast: var(--accent);
}

* {
    box-sizing: border-box;
}

[data-theme="dark"] {
    --main-bg: var(--main-bg-dark);
    --main-text: var(--main-text-dark);
    --main-titles: var(--accent2);
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Aref Ruqaa', serif;
    font-size: 3.5rem; 
    margin-top: 0;
}

h2 {
    color: var(--main-titles);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

hr {
    border-style: none;
    border-top: 10px dotted #f4a460;
    width: 8%;
}

a {
    color: var(--main-titles);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Nav bar */
#navbar {
    --navbar-height: 64px;
    position: fixed;
    z-index: 1;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1.4rem;
    margin: 0 auto; 
}

.navbar-item {
    margin: 0.4em;
    min-width: 5rem; /*based on longest link size */
}

.navbar-link {
    border-radius: 5px;
    color: var(--navbar-text-color);
    margin: auto;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
    text-decoration: none;
}

.navbar-logo {
    width: 60px;
    height: 48px;
    margin-inline-start: 0.5em;
}

.color-filter {
    filter: invert(88%) sepia(20%) saturate(407%) hue-rotate(327deg) brightness(108%) contrast(96%);
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

/* Change 3 bars to X */
#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    margin: 1%;
    border-radius: 5px;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1rem;
}

/* Dark Mode */
.toggle-switch {
    position: relative;
    height: 40px;
    width: 80px;
}
  
input {
    display: none;
}
  
.slider {
    background-color: var(--accent);    
    box-shadow: 0 0 3px 0 #eeeeee;
    border-radius: 30px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
}
  
input:checked + .slider {
    background-color: var(--accent);
}

/* slider shape sun */
.slider::before {
    /* background-color: #eeeeee; */
    box-shadow: inset 30px 0 #eeeeee;
    border-radius: 100%;
    content: "";
    height: 25px;
    width: 25px;
    transition: 0.3s;
    position: absolute;
    left: 8px;
    top: 8px;
}

/* slider shape crescent moon */
input:checked + .slider::before {
    background-color: var(--accent);
    border-radius: 50%;
    box-shadow: inset 8px -3px 0px 0px #eeeeee;
    transform: translateX(40px);
}


/* Heading */
.title-container {
    background-color: var(--main-contrast);
}

.cloud-box {
    position: relative;
    padding: 214px 10px 130px; 
    max-width: 600px;
    margin: auto;
}

.uwu {
    height:35px;
    width: 35px;
}

#myname {
    margin-bottom: 0;
}

.subheading {
    font-size: 1.3rem;
    color: var(--main-bg);
    margin: 0;
}

#top-cloud {
    position: absolute;
    right: 15px; 
    top: 159px; 
}

#bottom-cloud {
    position: absolute;
    left: 50px; 
    top: 330px; 
}

/* Mountain range */
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mountains {
    margin-top: -100px;
    background-image: url('../images/green_waves.svg');
}

/* Profile */
.profile{
    padding: 10% 15%;
}

.welcome {
    color: var(--main-text);
}

#pfp-div {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

#pfp {
    border: double 12px var(--frame-color);
    border-radius: 50%;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    margin: 3%;
}

.blurb {
    width: 60%;
    margin: auto;
}

.green {
    text-decoration: underline;
}


/* About Me */
.interests {
    padding: 7% 10%;
}

.about-container {
    display: flex;
    align-items: center; 
    margin: 30px auto;
    text-align: left;
}

.about-labels {
    margin: 0;
}

.img-div {
    margin: auto 2%;
    flex: 1;
}

.text-div {
    margin: auto 2%;
    padding: 0 2%;
    flex: 3;
}

#coding-img {
    border: double 5px var(--frame-color);
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    min-width: 225px;
    max-width: 300px;  
}

#hobbies-img {
    border: double 5px var(--frame-color);
    border-radius: 50%;
    box-sizing: border-box;
    width: 100%;
    min-width: 175px;
    max-width: 225px;
}

/* Projects */
.project-div {
    padding: 7% 15%;
}

.link-div {
    margin: 40px 0;
}

.card-holder {
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;
    justify-items: center;
    align-items: end;
}
.card {
    padding: 20px 10px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
}

.card-text {
    text-align: left;
    height: 120px
}

.card-titles {
    color: var(--main-titles);
    margin-bottom: 0;
}

.card-text > p {
    margin-top: 5px;
}


/* Contact Me */
.contact {
    padding: 7% 15%;
    margin-bottom: 2%;
}

.contactsub {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.contact-btn {
    border: none;
    background-color: var(--accent);
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 7px 18px;
    padding: 12px 15px;
}

.contact-btn:hover {
    background-color: var(--accent3);
    color: #ffffff;
}


/* Footer */
.footer-container {
    background-color: var(--main-contrast);
    color: #ffffff;
    padding: 1% 0;
}

.copyright {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin: 1% 0;
}


/* Media Queries */
@media (max-width: 1028px) {
    .blurb {
        width: 100%;
    }
    
    .text-div {
        flex: 4;
        margin: 2%;
    }
    
    .card-holder {
        gap: 20px 30px;
    }
}

@media (max-width: 850px) {
    .about-container {
        flex-flow: column;
    }

    .about-labels {
        text-align: center;
    }

    #guitar {
        order: 1;
    }
    
    #hobbies {
        order: 2;
    }
}

/* for phone screens */
@media (max-width: 500px) {
    p {
        font-size: 1rem;
    }

    .profile {
        padding: 10%;
    }

    #bottom-cloud {
        left: 25px;
        top: 360px;
    }

    .mountains {
        margin-top: -75px;
    }

    .card-holder {
        gap: 25px 0;
    }    
}

/* navbar media & larger screens */
@media screen and (min-width: 1028px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }   

    #navbar-menu, #navbar-toggle[aria-expanded='true'] + #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links, #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    
    .about-container {
        padding: 3% 7%;
    }

    hr {
        width: 5%;
    }

    .mountains {
        margin-top: -150px;
    }
}